.card-faq {
  border-radius: 16px !important;
  &.pointer {
    cursor: pointer;
  }
  &:not(:hover) {
    border: 1px solid transparent !important;
  }
  .faq-content {
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    &p:last-child {
      margin: 0;
    }
  }
}
